<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGenie</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/toggle.css">
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
  </head>
  <body>
    <header>
      <h1>ChatGenie</h1>
      <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox" />
        <div class="slider round"></div>
      </label>
      </div>
    </header>
    <div class="chat-container">
      <div class="chat-box" id="chat-box">
        <div class="chat-message bot">
          <span id="response-area">Hello! How can I assist you today?</span>
        </div>
      </div>
      <div class="message-area">
        <input type="text" id="user-input" placeholder="Type your message...">
        <button id="req-btn"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="m2 21l21-9L2 3v7l15 2l-15 2z"/></svg></button>
      </div>
    </div>
    <script type="text/javascript" defer src="/js/index.js"></script>
    <script type="text/javascript" defer src="/js/main.js"></script>
  </body>
</html>
